// Global Colors
$blackishgray: #292D32;
$darkgray: #626C76;
$mediumgray: #4D545A;
$lightgray: #828F9A;
$whitishgray: #F5F7FA;
$divider: #E3EAF3;  
$white: #FFFFFF;
$successgreen: #53D56C;
$closebtn: #ADBFC7;
$purple: #6C70DC;